# Collecting Google trends for period 2019

In this section, we collect the Google trends for the period of 2019. The data collected will act as part of the exogenous variables for the SARIMA forecast of the dengue cases for the 'unseen' 2019.

In [1]:
import pandas as pd

In [2]:
# Reading in all the individual google trends for year 2019
fog=pd.read_csv('../../assets/fogging_search.csv')
den_fever=pd.read_csv('../../assets/dengue_fever_search.csv')
dengue=pd.read_csv('../../assets/dengue_search.csv')
den_symp=pd.read_csv('../../assets/dengue_symptoms_search.csv')
fever=pd.read_csv('../../assets/fever_search.csv')
headache=pd.read_csv('../../assets/headache_search.csv')
insect=pd.read_csv('../../assets/insect_repellent_search.csv')
mosquito=pd.read_csv('../../assets/mosquito_search.csv')
nausea=pd.read_csv('../../assets/nausea_search.csv')
rashes=pd.read_csv('../../assets/rashes_search.csv')
vomit=pd.read_csv('../../assets/vomiting_search.csv')
wolbachia=pd.read_csv('../../assets/wolbachia_search.csv')
eye_pain=pd.read_csv('../../assets/eye_pain_search.csv')
joint_pain=pd.read_csv('../../assets/joint_pain_search.csv')

In [3]:
def add_day (df):
    '''
    Input a google trend dataframe.
    Output a dataframe where Monday is the starting day of the week and date is set as index.
    '''
    df['date'] = pd.to_datetime(df['date']) + pd.Timedelta(days=1)
    return df

In [4]:
# Fogging_search dataframe
add_day (fog)

         date  fogging_search
0  2019-01-07               0
1  2019-01-14               0
2  2019-01-21               0
3  2019-01-28               0
4  2019-02-04               0
5  2019-02-11              44
6  2019-02-18              76
7  2019-02-25              29
8  2019-03-04              45
9  2019-03-11               0
10 2019-03-18               0
11 2019-03-25             100
12 2019-04-01               0
13 2019-04-08               0
14 2019-04-15               0
15 2019-04-22               0
16 2019-04-29               0
17 2019-05-06               0
18 2019-05-13               0
19 2019-05-20              53
20 2019-05-27               0
21 2019-06-03               0
22 2019-06-10               0
23 2019-06-17               0
24 2019-06-24               0
25 2019-07-01               0
26 2019-07-08               0
27 2019-07-15               0
28 2019-07-22               0
29 2019-07-29               0
30 2019-08-05               0
31 2019-08-12              39
32 2019-08-19               0
33 2019-08-26               0
34 2019-09-02               0
35 2019-09-09              58
36 2019-09-16              62
37 2019-09-23              24
38 2019-09-30              74
39 2019-10-07               0
40 2019-10-14               0
41 2019-10-21               0
42 2019-10-28               0
43 2019-11-04              50
44 2019-11-11               0
45 2019-11-18               0
46 2019-11-25               0
47 2019-12-02              30
48 2019-12-09               0
49 2019-12-16               0
50 2019-12-23               0
51 2019-12-30              23

In [5]:
# Dengue_fever_search dataframe
add_day(den_fever)

         date  dengue_fever_search
0  2019-01-07                   37
1  2019-01-14                   35
2  2019-01-21                   37
3  2019-01-28                   27
4  2019-02-04                   39
5  2019-02-11                   47
6  2019-02-18                   36
7  2019-02-25                   31
8  2019-03-04                   32
9  2019-03-11                   24
10 2019-03-18                   29
11 2019-03-25                   21
12 2019-04-01                   22
13 2019-04-08                   32
14 2019-04-15                   32
15 2019-04-22                   26
16 2019-04-29                   34
17 2019-05-06                   37
18 2019-05-13                   36
19 2019-05-20                   34
20 2019-05-27                   59
21 2019-06-03                   43
22 2019-06-10                   47
23 2019-06-17                   74
24 2019-06-24                   76
25 2019-07-01                   71
26 2019-07-08                   74
27 2019-07-15                   85
28 2019-07-22                   79
29 2019-07-29                  100
30 2019-08-05                   94
31 2019-08-12                   83
32 2019-08-19                   73
33 2019-08-26                   55
34 2019-09-02                   55
35 2019-09-09                   50
36 2019-09-16                   58
37 2019-09-23                   40
38 2019-09-30                   37
39 2019-10-07                   34
40 2019-10-14                   43
41 2019-10-21                   40
42 2019-10-28                   37
43 2019-11-04                   45
44 2019-11-11                   51
45 2019-11-18                   58
46 2019-11-25                   52
47 2019-12-02                   34
48 2019-12-09                   37
49 2019-12-16                   35
50 2019-12-23                   45
51 2019-12-30                   40

In [6]:
# dengue_search dataframe
add_day (dengue)

         date  dengue_search
0  2019-01-07             38
1  2019-01-14             37
2  2019-01-21             39
3  2019-01-28             29
4  2019-02-04             45
5  2019-02-11             52
6  2019-02-18             36
7  2019-02-25             32
8  2019-03-04             32
9  2019-03-11             26
10 2019-03-18             30
11 2019-03-25             20
12 2019-04-01             26
13 2019-04-08             31
14 2019-04-15             30
15 2019-04-22             31
16 2019-04-29             33
17 2019-05-06             33
18 2019-05-13             39
19 2019-05-20             40
20 2019-05-27             67
21 2019-06-03             47
22 2019-06-10             45
23 2019-06-17             81
24 2019-06-24             83
25 2019-07-01             71
26 2019-07-08             80
27 2019-07-15             89
28 2019-07-22             81
29 2019-07-29            100
30 2019-08-05            100
31 2019-08-12             88
32 2019-08-19             78
33 2019-08-26             57
34 2019-09-02             63
35 2019-09-09             62
36 2019-09-16             64
37 2019-09-23             47
38 2019-09-30             42
39 2019-10-07             40
40 2019-10-14             45
41 2019-10-21             41
42 2019-10-28             34
43 2019-11-04             56
44 2019-11-11             61
45 2019-11-18             60
46 2019-11-25             56
47 2019-12-02             37
48 2019-12-09             39
49 2019-12-16             45
50 2019-12-23             47
51 2019-12-30             39

In [7]:
# Dengue_symptoms_search dataframe
add_day (den_symp)

         date  dengue_symptoms_search
0  2019-01-07                      15
1  2019-01-14                      23
2  2019-01-21                      26
3  2019-01-28                      11
4  2019-02-04                       9
5  2019-02-11                      29
6  2019-02-18                      21
7  2019-02-25                      10
8  2019-03-04                      16
9  2019-03-11                      19
10 2019-03-18                      14
11 2019-03-25                      14
12 2019-04-01                      22
13 2019-04-08                      21
14 2019-04-15                      23
15 2019-04-22                      29
16 2019-04-29                      42
17 2019-05-06                      40
18 2019-05-13                      15
19 2019-05-20                      28
20 2019-05-27                      43
21 2019-06-03                      33
22 2019-06-10                      42
23 2019-06-17                      93
24 2019-06-24                      77
25 2019-07-01                      74
26 2019-07-08                      58
27 2019-07-15                      97
28 2019-07-22                      80
29 2019-07-29                      83
30 2019-08-05                     100
31 2019-08-12                      56
32 2019-08-19                      49
33 2019-08-26                      51
34 2019-09-02                      36
35 2019-09-09                      69
36 2019-09-16                      42
37 2019-09-23                      26
38 2019-09-30                      23
39 2019-10-07                      26
40 2019-10-14                      18
41 2019-10-21                      28
42 2019-10-28                      49
43 2019-11-04                      47
44 2019-11-11                      49
45 2019-11-18                      44
46 2019-11-25                      51
47 2019-12-02                      34
48 2019-12-09                      19
49 2019-12-16                      29
50 2019-12-23                      46
51 2019-12-30                      19

In [8]:
# Fever_search dataframe
add_day (fever)

         date  fever_search
0  2019-01-07            77
1  2019-01-14            69
2  2019-01-21            67
3  2019-01-28            70
4  2019-02-04            65
5  2019-02-11            69
6  2019-02-18            75
7  2019-02-25            73
8  2019-03-04            70
9  2019-03-11            65
10 2019-03-18            62
11 2019-03-25            60
12 2019-04-01            61
13 2019-04-08            73
14 2019-04-15            51
15 2019-04-22            57
16 2019-04-29            66
17 2019-05-06            79
18 2019-05-13            68
19 2019-05-20            65
20 2019-05-27            91
21 2019-06-03            76
22 2019-06-10            77
23 2019-06-17            84
24 2019-06-24            90
25 2019-07-01           100
26 2019-07-08            88
27 2019-07-15            93
28 2019-07-22            87
29 2019-07-29            88
30 2019-08-05            78
31 2019-08-12            82
32 2019-08-19            90
33 2019-08-26            64
34 2019-09-02            63
35 2019-09-09            67
36 2019-09-16            67
37 2019-09-23            60
38 2019-09-30            66
39 2019-10-07            67
40 2019-10-14            74
41 2019-10-21            66
42 2019-10-28            65
43 2019-11-04            77
44 2019-11-11            82
45 2019-11-18            74
46 2019-11-25            67
47 2019-12-02            69
48 2019-12-09            83
49 2019-12-16            87
50 2019-12-23            93
51 2019-12-30            92

In [9]:
# Headache_search dataframe
add_day (headache)

         date  headache_search
0  2019-01-07               60
1  2019-01-14               75
2  2019-01-21               69
3  2019-01-28               89
4  2019-02-04               81
5  2019-02-11               72
6  2019-02-18               65
7  2019-02-25               78
8  2019-03-04               77
9  2019-03-11               62
10 2019-03-18               67
11 2019-03-25               69
12 2019-04-01               76
13 2019-04-08               85
14 2019-04-15               68
15 2019-04-22               78
16 2019-04-29               69
17 2019-05-06               81
18 2019-05-13               82
19 2019-05-20               57
20 2019-05-27               83
21 2019-06-03               64
22 2019-06-10               81
23 2019-06-17               76
24 2019-06-24               87
25 2019-07-01               79
26 2019-07-08               72
27 2019-07-15               71
28 2019-07-22               92
29 2019-07-29               80
30 2019-08-05               71
31 2019-08-12               83
32 2019-08-19               95
33 2019-08-26               64
34 2019-09-02               81
35 2019-09-09               87
36 2019-09-16               95
37 2019-09-23               93
38 2019-09-30               74
39 2019-10-07               90
40 2019-10-14               85
41 2019-10-21               80
42 2019-10-28               98
43 2019-11-04               74
44 2019-11-11               82
45 2019-11-18               95
46 2019-11-25              100
47 2019-12-02               73
48 2019-12-09               67
49 2019-12-16               79
50 2019-12-23               70
51 2019-12-30               71

In [10]:
# Insect_repellent_search dataframe
add_day (insect)

         date  insect_repellent_search
0  2019-01-07                       29
1  2019-01-14                        0
2  2019-01-21                       36
3  2019-01-28                        0
4  2019-02-04                        0
5  2019-02-11                        0
6  2019-02-18                       51
7  2019-02-25                       65
8  2019-03-04                       53
9  2019-03-11                        0
10 2019-03-18                        0
11 2019-03-25                        0
12 2019-04-01                       30
13 2019-04-08                       49
14 2019-04-15                       76
15 2019-04-22                       25
16 2019-04-29                        0
17 2019-05-06                      100
18 2019-05-13                       68
19 2019-05-20                       41
20 2019-05-27                       31
21 2019-06-03                       68
22 2019-06-10                        0
23 2019-06-17                       89
24 2019-06-24                       77
25 2019-07-01                       51
26 2019-07-08                       35
27 2019-07-15                       46
28 2019-07-22                        0
29 2019-07-29                       43
30 2019-08-05                        0
31 2019-08-12                       27
32 2019-08-19                       42
33 2019-08-26                       39
34 2019-09-02                        0
35 2019-09-09                       32
36 2019-09-16                       27
37 2019-09-23                        0
38 2019-09-30                       33
39 2019-10-07                       47
40 2019-10-14                       88
41 2019-10-21                       58
42 2019-10-28                       52
43 2019-11-04                        0
44 2019-11-11                       84
45 2019-11-18                       42
46 2019-11-25                        0
47 2019-12-02                       68
48 2019-12-09                        0
49 2019-12-16                       46
50 2019-12-23                       45
51 2019-12-30                       48

In [11]:
# mosquito_search dataframe
add_day (mosquito)

         date  mosquito_search
0  2019-01-07               52
1  2019-01-14               66
2  2019-01-21               58
3  2019-01-28               61
4  2019-02-04               55
5  2019-02-11               65
6  2019-02-18               76
7  2019-02-25               61
8  2019-03-04               79
9  2019-03-11               64
10 2019-03-18               52
11 2019-03-25               55
12 2019-04-01               62
13 2019-04-08               74
14 2019-04-15               72
15 2019-04-22               91
16 2019-04-29               77
17 2019-05-06               90
18 2019-05-13               93
19 2019-05-20               75
20 2019-05-27               76
21 2019-06-03               82
22 2019-06-10               94
23 2019-06-17               85
24 2019-06-24               93
25 2019-07-01               77
26 2019-07-08               78
27 2019-07-15               84
28 2019-07-22               86
29 2019-07-29               86
30 2019-08-05              100
31 2019-08-12               73
32 2019-08-19               82
33 2019-08-26               86
34 2019-09-02               62
35 2019-09-09               95
36 2019-09-16               83
37 2019-09-23               92
38 2019-09-30               74
39 2019-10-07               75
40 2019-10-14               92
41 2019-10-21               67
42 2019-10-28               85
43 2019-11-04               87
44 2019-11-11               78
45 2019-11-18               60
46 2019-11-25               68
47 2019-12-02               68
48 2019-12-09               66
49 2019-12-16               80
50 2019-12-23               65
51 2019-12-30               71

In [12]:
# Nausea_search dataframe
add_day (nausea)

         date  nausea_search
0  2019-01-07             70
1  2019-01-14             76
2  2019-01-21             68
3  2019-01-28             73
4  2019-02-04             76
5  2019-02-11             77
6  2019-02-18             85
7  2019-02-25             89
8  2019-03-04             71
9  2019-03-11             90
10 2019-03-18             51
11 2019-03-25             95
12 2019-04-01             89
13 2019-04-08             85
14 2019-04-15             78
15 2019-04-22             64
16 2019-04-29             62
17 2019-05-06             69
18 2019-05-13             83
19 2019-05-20             77
20 2019-05-27             76
21 2019-06-03             57
22 2019-06-10             82
23 2019-06-17             65
24 2019-06-24             85
25 2019-07-01             90
26 2019-07-08             76
27 2019-07-15             74
28 2019-07-22            100
29 2019-07-29             77
30 2019-08-05            100
31 2019-08-12             91
32 2019-08-19             96
33 2019-08-26             86
34 2019-09-02             77
35 2019-09-09             70
36 2019-09-16             81
37 2019-09-23             79
38 2019-09-30             82
39 2019-10-07             85
40 2019-10-14             66
41 2019-10-21             65
42 2019-10-28             47
43 2019-11-04             83
44 2019-11-11             85
45 2019-11-18             60
46 2019-11-25             62
47 2019-12-02             83
48 2019-12-09             83
49 2019-12-16             69
50 2019-12-23             95
51 2019-12-30             82

In [13]:
# Rashes_search dataframe
add_day (rashes)

         date  rashes_search
0  2019-01-07             59
1  2019-01-14             52
2  2019-01-21             55
3  2019-01-28             36
4  2019-02-04             28
5  2019-02-11             53
6  2019-02-18             64
7  2019-02-25             57
8  2019-03-04             65
9  2019-03-11             35
10 2019-03-18             45
11 2019-03-25             41
12 2019-04-01             64
13 2019-04-08             77
14 2019-04-15             48
15 2019-04-22             26
16 2019-04-29             54
17 2019-05-06             57
18 2019-05-13             53
19 2019-05-20             57
20 2019-05-27             63
21 2019-06-03             49
22 2019-06-10             67
23 2019-06-17             62
24 2019-06-24             83
25 2019-07-01             81
26 2019-07-08             72
27 2019-07-15             50
28 2019-07-22             42
29 2019-07-29             65
30 2019-08-05             70
31 2019-08-12             76
32 2019-08-19             84
33 2019-08-26             71
34 2019-09-02             53
35 2019-09-09             52
36 2019-09-16             69
37 2019-09-23             91
38 2019-09-30             65
39 2019-10-07             64
40 2019-10-14             60
41 2019-10-21             66
42 2019-10-28             55
43 2019-11-04             63
44 2019-11-11             56
45 2019-11-18             48
46 2019-11-25             54
47 2019-12-02             50
48 2019-12-09             66
49 2019-12-16             65
50 2019-12-23            100
51 2019-12-30             81

In [14]:
# Vomiting_search dataframe
add_day (vomit)

         date  vomiting_search
0  2019-01-07               74
1  2019-01-14               85
2  2019-01-21               68
3  2019-01-28               70
4  2019-02-04               72
5  2019-02-11               63
6  2019-02-18               62
7  2019-02-25               64
8  2019-03-04               62
9  2019-03-11               66
10 2019-03-18               64
11 2019-03-25               72
12 2019-04-01               71
13 2019-04-08               60
14 2019-04-15               63
15 2019-04-22               71
16 2019-04-29               75
17 2019-05-06               80
18 2019-05-13               68
19 2019-05-20               70
20 2019-05-27               69
21 2019-06-03               64
22 2019-06-10               69
23 2019-06-17               63
24 2019-06-24               57
25 2019-07-01               71
26 2019-07-08               63
27 2019-07-15               60
28 2019-07-22               71
29 2019-07-29               84
30 2019-08-05               54
31 2019-08-12               73
32 2019-08-19               78
33 2019-08-26               76
34 2019-09-02               82
35 2019-09-09               92
36 2019-09-16               79
37 2019-09-23               81
38 2019-09-30               63
39 2019-10-07               74
40 2019-10-14               74
41 2019-10-21               69
42 2019-10-28               68
43 2019-11-04               75
44 2019-11-11               65
45 2019-11-18               72
46 2019-11-25               67
47 2019-12-02               82
48 2019-12-09               68
49 2019-12-16               77
50 2019-12-23              100
51 2019-12-30               90

In [15]:
add_day (wolbachia)

         date  wolbachia_search
0  2019-01-07                 0
1  2019-01-14                12
2  2019-01-21                16
3  2019-01-28                17
4  2019-02-04                 0
5  2019-02-11                 0
6  2019-02-18                38
7  2019-02-25                 0
8  2019-03-04                 0
9  2019-03-11                 0
10 2019-03-18                 0
11 2019-03-25                 0
12 2019-04-01                 0
13 2019-04-08                 0
14 2019-04-15                17
15 2019-04-22                 0
16 2019-04-29                19
17 2019-05-06                14
18 2019-05-13                 0
19 2019-05-20                 0
20 2019-05-27                 0
21 2019-06-03                 0
22 2019-06-10                 0
23 2019-06-17                 0
24 2019-06-24                 0
25 2019-07-01                 0
26 2019-07-08                 0
27 2019-07-15                 0
28 2019-07-22                 0
29 2019-07-29                 0
30 2019-08-05                15
31 2019-08-12                 0
32 2019-08-19                 0
33 2019-08-26                 0
34 2019-09-02                 0
35 2019-09-09                63
36 2019-09-16                 0
37 2019-09-23                 0
38 2019-09-30                 0
39 2019-10-07                12
40 2019-10-14                 0
41 2019-10-21                15
42 2019-10-28                 0
43 2019-11-04                 0
44 2019-11-11                 0
45 2019-11-18                 0
46 2019-11-25                23
47 2019-12-02               100
48 2019-12-09                 0
49 2019-12-16                 0
50 2019-12-23                 0
51 2019-12-30                14

In [16]:
add_day (joint_pain)

         date  joint_pain_search
0  2019-01-07                 85
1  2019-01-14                 64
2  2019-01-21                 58
3  2019-01-28                 43
4  2019-02-04                 61
5  2019-02-11                  0
6  2019-02-18                 56
7  2019-02-25                 46
8  2019-03-04                 79
9  2019-03-11                 64
10 2019-03-18                 77
11 2019-03-25                 58
12 2019-04-01                 59
13 2019-04-08                 48
14 2019-04-15                 54
15 2019-04-22                 53
16 2019-04-29                 43
17 2019-05-06                 76
18 2019-05-13                 56
19 2019-05-20                 39
20 2019-05-27                 49
21 2019-06-03                 44
22 2019-06-10                 34
23 2019-06-17                 40
24 2019-06-24                 24
25 2019-07-01                 29
26 2019-07-08                 65
27 2019-07-15                 56
28 2019-07-22                 37
29 2019-07-29                 11
30 2019-08-05                 66
31 2019-08-12                  0
32 2019-08-19                 56
33 2019-08-26                 41
34 2019-09-02                 64
35 2019-09-09                 30
36 2019-09-16                 51
37 2019-09-23                  0
38 2019-09-30                 55
39 2019-10-07                 54
40 2019-10-14                 45
41 2019-10-21                 21
42 2019-10-28                 36
43 2019-11-04                 39
44 2019-11-11                100
45 2019-11-18                 36
46 2019-11-25                 63
47 2019-12-02                 56
48 2019-12-09                 49
49 2019-12-16                 53
50 2019-12-23                 91
51 2019-12-30                 94

In [17]:
add_day (eye_pain)

         date  eye_pain_search
0  2019-01-07               33
1  2019-01-14                0
2  2019-01-21                0
3  2019-01-28                0
4  2019-02-04                0
5  2019-02-11                0
6  2019-02-18              100
7  2019-02-25               49
8  2019-03-04                0
9  2019-03-11               31
10 2019-03-18                0
11 2019-03-25                0
12 2019-04-01                0
13 2019-04-08               37
14 2019-04-15               55
15 2019-04-22                0
16 2019-04-29               97
17 2019-05-06                0
18 2019-05-13               32
19 2019-05-20               73
20 2019-05-27                0
21 2019-06-03               42
22 2019-06-10               49
23 2019-06-17               32
24 2019-06-24               62
25 2019-07-01                0
26 2019-07-08               49
27 2019-07-15                0
28 2019-07-22               40
29 2019-07-29                0
30 2019-08-05               21
31 2019-08-12                0
32 2019-08-19                0
33 2019-08-26                0
34 2019-09-02                0
35 2019-09-09                0
36 2019-09-16                0
37 2019-09-23               34
38 2019-09-30               33
39 2019-10-07               51
40 2019-10-14                0
41 2019-10-21                0
42 2019-10-28                0
43 2019-11-04               47
44 2019-11-11                0
45 2019-11-18                0
46 2019-11-25               70
47 2019-12-02               45
48 2019-12-09                0
49 2019-12-16               28
50 2019-12-23               53
51 2019-12-30                0

In [18]:
# combining all trends into one combined dataframe
df_combined=pd.merge(fog,den_fever, on='date')
df_combined2=pd.merge(df_combined, dengue, on='date')
df_combined3=pd.merge(df_combined2, den_symp, on='date')
df_combined4=pd.merge(df_combined3, fever, on='date')
df_combined5=pd.merge(df_combined4, headache, on='date')
df_combined6=pd.merge(df_combined5, insect, on='date')
df_combined7=pd.merge(df_combined6, mosquito, on='date')
df_combined8=pd.merge(df_combined7, nausea, on='date')
df_combined9=pd.merge(df_combined8, rashes, on='date')
df_combined10=pd.merge(df_combined9, vomit, on='date')
df_combined11=pd.merge(df_combined10, wolbachia, on='date')
df_combined12=pd.merge(df_combined11, eye_pain, on='date')
df_combined13=pd.merge(df_combined12, joint_pain, on='date')

In [19]:
df_combined13.head()

,date,fogging_search,dengue_fever_search,dengue_search,dengue_symptoms_search,fever_search,headache_search,insect_repellent_search,mosquito_search,nausea_search,rashes_search,vomiting_search,wolbachia_search,eye_pain_search,joint_pain_search
0,2019-01-07,0,37,38,15,77,60,29,52,70,59,74,0,33,85
1,2019-01-14,0,35,37,23,69,75,0,66,76,52,85,12,0,64
2,2019-01-21,0,37,39,26,67,69,36,58,68,55,68,16,0,58
3,2019-01-28,0,27,29,11,70,89,0,61,73,36,70,17,0,43
4,2019-02-04,0,39,45,9,65,81,0,55,76,28,72,0,0,61

## Exporting the combined Google trends 2019

In [20]:
df_combined13.to_csv('../../assets/google2019.csv')