## Combining Dengue Cases, Google Trends & Dengue Cases

### Load the libraries

In [1]:
import pandas as pd

### Reading in the Datasets

In [2]:
# Read in the Cleaned Changi Weather dataset
weekly_climate_dengue=pd.read_csv('../../assets/cleaned_comb_changi_weather.csv', parse_dates=['date'], index_col='date')

### Weekly Climate & Dengue

In [3]:
weekly_climate_dengue.head()

,type_dengue,year,month,number,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),week
date,,,,,,,,,,,,,,,,,
2014-01-06,Dengue,2014,1,436.0,2014,1,6,31.2,10.0,10.8,11.6,25.3,27.1,23.9,6.1,25.6,2
2014-01-06,DHF,2014,1,1.0,2014,1,6,31.2,10.0,10.8,11.6,25.3,27.1,23.9,6.1,25.6,2
2014-01-13,Dengue,2014,1,479.0,2014,1,13,0.0,0.0,0.0,0.0,26.9,30.3,25.4,14.6,40.0,3
2014-01-13,DHF,2014,1,0.0,2014,1,13,0.0,0.0,0.0,0.0,26.9,30.3,25.4,14.6,40.0,3
2014-01-20,Dengue,2014,1,401.0,2014,1,20,0.0,0.0,0.0,0.0,25.7,29.1,23.6,11.7,38.2,4

In [4]:
# Dropping Year, Month & Day columns
weekly_climate_dengue.drop(columns=['year','month','Year','Month','Day','week'], inplace=True)

In [5]:
# Keeping the Dengue cases only
weekly_climate_dengue=weekly_climate_dengue[weekly_climate_dengue['type_dengue']=='Dengue']

In [6]:
weekly_climate_dengue.head()

,type_dengue,number,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
date,,,,,,,,,,,
2014-01-06,Dengue,436.0,31.2,10.0,10.8,11.6,25.3,27.1,23.9,6.1,25.6
2014-01-13,Dengue,479.0,0.0,0.0,0.0,0.0,26.9,30.3,25.4,14.6,40.0
2014-01-20,Dengue,401.0,0.0,0.0,0.0,0.0,25.7,29.1,23.6,11.7,38.2
2014-01-27,Dengue,336.0,0.0,0.0,0.0,0.0,25.9,29.8,23.8,14.5,37.1
2014-02-03,Dengue,234.0,0.0,0.0,0.0,0.0,26.1,31.2,22.9,11.3,32.0

In [7]:
# Drop the type_dengue column
weekly_climate_dengue.drop(columns=['type_dengue'], inplace=True)

In [8]:
weekly_climate_dengue.shape

(261, 10)

### Weekly Google Trends

In [9]:
# Read in the Complete Google Trends dataset
google=pd.read_csv('../../assets/complete_google_trends.csv')

In [10]:
google.head()

,Unnamed: 0,date,year,month,week,dengue_search,dengue_fever_search,dengue_symptoms_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,headache_search,nausea_search,fogging_search,insect_repellent_search,mosquito_search
0,0,2014-06-01,2014,1,1,44,61,18,67,43,30,27,73,0,22,9,0,1,5
1,1,2014-13-01,2014,1,2,38,55,14,73,38,0,26,66,2,25,11,0,3,5
2,2,2014-20-01,2014,1,3,31,46,13,60,52,12,13,80,0,27,8,0,3,4
3,3,2014-27-01,2014,1,4,23,33,8,57,39,31,0,64,0,25,12,0,3,6
4,4,2014-03-02,2014,2,5,28,38,6,56,31,0,7,72,0,22,8,0,3,8

In [11]:
# Drop unnamed: 0 column from google
google.drop(columns=['Unnamed: 0', 'year','month','week'], inplace=True)

In [12]:
# convert date column to datetime format
google['date'] = pd.to_datetime(google['date'], format='%Y-%d-%m')

In [13]:
google.head()

,date,dengue_search,dengue_fever_search,dengue_symptoms_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,headache_search,nausea_search,fogging_search,insect_repellent_search,mosquito_search
0,2014-01-06,44,61,18,67,43,30,27,73,0,22,9,0,1,5
1,2014-01-13,38,55,14,73,38,0,26,66,2,25,11,0,3,5
2,2014-01-20,31,46,13,60,52,12,13,80,0,27,8,0,3,4
3,2014-01-27,23,33,8,57,39,31,0,64,0,25,12,0,3,6
4,2014-02-03,28,38,6,56,31,0,7,72,0,22,8,0,3,8

In [14]:
# set the date column as the index
google.set_index('date', inplace=True)

In [15]:
google.head()

,dengue_search,dengue_fever_search,dengue_symptoms_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,headache_search,nausea_search,fogging_search,insect_repellent_search,mosquito_search
date,,,,,,,,,,,,,,
2014-01-06,44,61,18,67,43,30,27,73,0,22,9,0,1,5
2014-01-13,38,55,14,73,38,0,26,66,2,25,11,0,3,5
2014-01-20,31,46,13,60,52,12,13,80,0,27,8,0,3,4
2014-01-27,23,33,8,57,39,31,0,64,0,25,12,0,3,6
2014-02-03,28,38,6,56,31,0,7,72,0,22,8,0,3,8

In [16]:
google.shape

(261, 14)

### Concatenate both dataframes

In [17]:
# concatenate the dataframes on the same time index
dengue_weather_google = pd.merge(weekly_climate_dengue, google, left_index=True, right_index=True)

In [18]:
dengue_weather_google.head()

,number,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),...,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,headache_search,nausea_search,fogging_search,insect_repellent_search,mosquito_search
date,,,,,,,,,,,,,,,,,,,,,
2014-01-06,436.0,31.2,10.0,10.8,11.6,25.3,27.1,23.9,6.1,25.6,...,43,30,27,73,0,22,9,0,1,5
2014-01-13,479.0,0.0,0.0,0.0,0.0,26.9,30.3,25.4,14.6,40.0,...,38,0,26,66,2,25,11,0,3,5
2014-01-20,401.0,0.0,0.0,0.0,0.0,25.7,29.1,23.6,11.7,38.2,...,52,12,13,80,0,27,8,0,3,4
2014-01-27,336.0,0.0,0.0,0.0,0.0,25.9,29.8,23.8,14.5,37.1,...,39,31,0,64,0,25,12,0,3,6
2014-02-03,234.0,0.0,0.0,0.0,0.0,26.1,31.2,22.9,11.3,32.0,...,31,0,7,72,0,22,8,0,3,8

In [19]:
dengue_weather_google

,number,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),...,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,headache_search,nausea_search,fogging_search,insect_repellent_search,mosquito_search
date,,,,,,,,,,,,,,,,,,,,,
2014-01-06,436.0,31.2,10.0,10.8,11.6,25.3,27.1,23.9,6.1,25.6,...,43,30,27,73,0,22,9,0,1,5
2014-01-13,479.0,0.0,0.0,0.0,0.0,26.9,30.3,25.4,14.6,40.0,...,38,0,26,66,2,25,11,0,3,5
2014-01-20,401.0,0.0,0.0,0.0,0.0,25.7,29.1,23.6,11.7,38.2,...,52,12,13,80,0,27,8,0,3,4
2014-01-27,336.0,0.0,0.0,0.0,0.0,25.9,29.8,23.8,14.5,37.1,...,39,31,0,64,0,25,12,0,3,6
2014-02-03,234.0,0.0,0.0,0.0,0.0,26.1,31.2,22.9,11.3,32.0,...,31,0,7,72,0,22,8,0,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-11-26,109.0,14.4,13.4,13.4,13.4,27.5,31.9,23.9,5.4,29.9,...,49,12,14,66,1,30,13,30,5,9
2018-12-03,113.0,2.6,1.4,2.0,2.4,26.9,30.7,25.5,5.0,22.0,...,58,15,10,68,0,27,9,0,2,9
2018-12-10,107.0,0.2,0.2,0.2,0.2,27.4,31.6,25.9,6.1,37.4,...,59,0,17,61,0,23,13,0,4,8
2018-12-17,127.0,0.0,0.0,0.0,0.0,27.3,30.6,25.0,6.8,45.0,...,69,9,23,75,0,27,15,0,4,7
2018-12-24,160.0,0.0,0.0,0.0,0.0,28.1,32.2,25.2,7.6,27.0,...,74,13,20,81,0,23,12,0,3,5

### Exporting out the combined Dengue, Weather and Google Trends

In [20]:
dengue_weather_google.to_csv('../../assets/dengue_weather_google.csv')