In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

%matplotlib inline

In [50]:
trends = pd.read_csv('../../assets/complete_google_trends.csv', index_col=0)

In [51]:
trends.head()

,date,year,month,week,dengue_search,dengue_fever_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,nausea_search
0,14-06-01,2014,1,1,44,52,67,43,30,27,73,0,22
1,14-13-01,2014,1,2,38,53,73,38,0,26,66,2,25
2,14-20-01,2014,1,3,31,60,60,52,12,13,80,0,27
3,14-27-01,2014,1,4,23,24,57,39,31,0,64,0,25
4,14-03-02,2014,2,5,28,44,56,31,0,7,72,0,22

In [52]:
dengue_df = pd.read_csv('../../assets/dengue.csv')

In [53]:
dengue_df.head()

  type_dengue        date  year  month  number
0      Dengue  2014-01-06  2014      1   436.0
1         DHF  2014-01-06  2014      1     1.0
2      Dengue  2014-01-13  2014      1   479.0
3         DHF  2014-01-13  2014      1     0.0
4      Dengue  2014-01-20  2014      1   401.0

In [54]:
# note: I need to do a sum of dengue cases for the pivot to work
# dhf seems to be very rare and negligible - check Nicholas' codes

In [55]:
dengue_df['dengue_sum'] = dengue_df.groupby('date')['number'].transform('sum')

In [56]:
# drop the two columns
dengue_df = dengue_df.drop(['number', 'type_dengue'], axis=1)

In [57]:
dengue_df = dengue_df.drop_duplicates(subset='date')

In [58]:
dengue_df.head()

         date  year  month  dengue_sum
0  2014-01-06  2014      1       437.0
2  2014-01-13  2014      1       479.0
4  2014-01-20  2014      1       401.0
6  2014-01-27  2014      1       336.0
8  2014-02-03  2014      2       234.0

In [62]:
trends = pd.read_csv('../../assets/complete_google_trends.csv', )

In [63]:
trends

,Unnamed: 0,date,year,month,week,dengue_search,dengue_fever_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,nausea_search
0,0,14-06-01,2014,1,1,44,52,67,43,30,27,73,0,22
1,1,14-13-01,2014,1,2,38,53,73,38,0,26,66,2,25
2,2,14-20-01,2014,1,3,31,60,60,52,12,13,80,0,27
3,3,14-27-01,2014,1,4,23,24,57,39,31,0,64,0,25
4,4,14-03-02,2014,2,5,28,44,56,31,0,7,72,0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,256,18-03-12,2018,12,48,22,25,45,58,15,10,68,0,27
257,257,18-10-12,2018,12,49,18,22,49,59,0,17,61,0,23
258,258,18-17-12,2018,12,50,19,9,49,69,9,23,75,0,27
259,259,18-24-12,2018,12,51,18,20,40,74,13,20,81,0,23
260,260,18-31-12,2018,12,52,18,25,63,61,7,21,75,3,30

In [60]:
# merge the dengue cases df with google trends df
merged_df = pd.merge(trends, dengue_df, on='date')