In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

%matplotlib inline

In [50]:
# import trends file, to be merged with dengue cases
trends = pd.read_csv('../../assets/complete_google_trends.csv', index_col=0)

In [51]:
trends.head()

,date,year,month,week,dengue_search,dengue_fever_search,rashes_search,vomiting_search,eye_pain_search,joint_pain_search,fever_search,wolbachia_search,nausea_search
0,14-06-01,2014,1,1,44,52,67,43,30,27,73,0,22
1,14-13-01,2014,1,2,38,53,73,38,0,26,66,2,25
2,14-20-01,2014,1,3,31,60,60,52,12,13,80,0,27
3,14-27-01,2014,1,4,23,24,57,39,31,0,64,0,25
4,14-03-02,2014,2,5,28,44,56,31,0,7,72,0,22

In [52]:
# import dengue cases file
dengue_df = pd.read_csv('../../assets/dengue.csv')

In [53]:
dengue_df.head()

  type_dengue        date  year  month  number
0      Dengue  2014-01-06  2014      1   436.0
1         DHF  2014-01-06  2014      1     1.0
2      Dengue  2014-01-13  2014      1   479.0
3         DHF  2014-01-13  2014      1     0.0
4      Dengue  2014-01-20  2014      1   401.0

In [55]:
# sum up dengue and DHF cases, as DHF is rare and is considered as a dengue case
dengue_df['dengue_sum'] = dengue_df.groupby('date')['number'].transform('sum')

In [56]:
# drop the two columns which are redundant
dengue_df = dengue_df.drop(['number', 'type_dengue'], axis=1)

In [57]:
# drop the rows with duplicate value of the sum
dengue_df = dengue_df.drop_duplicates(subset='date')

In [58]:
dengue_df.head()

         date  year  month  dengue_sum
0  2014-01-06  2014      1       437.0
2  2014-01-13  2014      1       479.0
4  2014-01-20  2014      1       401.0
6  2014-01-27  2014      1       336.0
8  2014-02-03  2014      2       234.0

In [67]:
# merge the dengue cases df with google trends df
merged_df = pd.merge(trends, dengue_df, on='date')

In [68]:
merged_df

Empty DataFrame
Columns: [date, year_x, month_x, week, dengue_search, dengue_fever_search, rashes_search, vomiting_search, eye_pain_search, joint_pain_search, fever_search, wolbachia_search, nausea_search, year_y, month_y, dengue_sum]
Index: []